@model MvcApp.Models.Program
@{
    ViewBag.Title = "Program";
}

<h2>Add Program</h2>
<br/>
@using (Html.BeginForm("Create", "Program", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
	
	<div class="column2">
		<div>
			@Html.HiddenFor(m=>m.ID)
			<div>
				@Html.LabelFor(m=>m.Name)
			</div>
			<div>
				@Html.TextBoxFor(m=>m.Name)
			</div>
		</div>
		<div>
			<div>
				@Html.LabelFor(m=>m.Description)
			</div>
			<div>
				@Html.TextAreaFor(m=>m.Description)
			</div>
		</div>
		<br/>
		<input type="submit" value="Add" id="addProgram"/>
		<input type="button" value="Cancel"/>
	</div>
}