@using MvcApp.Models
@model IEnumerable<MvcApp.Models.Program>

@{
	ViewBag.Title = "Program";
}


<br />
@section scripts
{
	@Styles.Render("~/style/bootstrapdatatable")
	@Scripts.Render("~/scripts/bootstrapdatatable")
	<style>
		.dataTables_wrapper {
			border: 1px solid #e5e5e5;
		}
		a {
			text-decoration: none;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#bootdataTable").bootstrapDataTable();
			$("input[id=cancel]").click(function() {
				$("input[type=text],textarea").val("");
			});
		});
	</script>
}
<div class="row">
	<div class="col-md-6"><h2 style="text-align: center">Programs</h2></div>
</div>
<div class="row">
	<div class="col-md-6" style="margin: 10px 0px">
		@Html.ActionLink("Add New Program", "Add", "Program",new{}, new { @class = "btn btn-default" })
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		@if (Model.Count() > 0)
		{
			<table id="bootdataTable" class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					@foreach (Program program in Model)
					{
						<tr>
							<td>@program.Name</td>
							<td>@program.Description</td>
							<td>
								@Html.ActionLink("Edit","Add","Program",new{@id=program.ID},new{@class="btn btn-default"})&nbsp;
								<span class="btn btn-default">Delete</span>
							</td>
						</tr>
					}

				</tbody>

			</table>
		}
		else
		{
			<div>No Prorgams are Available. Please click "AddProgram" to add.</div>
		}
	</div>
</div>