@using MvcApp.Components
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Styles.Render("~/Styles/datepicker")
	@Styles.Render("~/Styles/menu")
	@Styles.Render("~/Styles/bootstrap")
	@Styles.Render("~/Styles/Layout")
	@Scripts.Render("~/bundles/jqueryvalidate")
	@Scripts.Render("~/scripts/bootstrap")
	@RenderSection("scripts", required: false)
</head>
<body>
	<div class="wrapper">
		<div class="mainheader">
			<div style="text-align: right">
				@if (Request.IsAuthenticated)
				{
					<text>
						Hello, <b>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</b>!
				<br/>
						Current Branch is <b>@UserData.GetInstance.CurrentBranchName</b>
						@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
						{
							@Html.AntiForgeryToken()
							<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
						}
					</text>
				}
			</div>
		</div>
		<div id='cssmenu'>
			<ul>
				<li>
					<a href="#"><span>Home</span></a>
				</li>
				<li class='active has-sub'>
					<a href="#">Administation</a>
					<ul>
						<li>
							<a href="~\Branch/Index"><span>Branches</span></a>
						</li>
						<li>
							<a href="~\AcademicYear/Index"><span>AcademicYears</span></a>
						</li>
						<li>
							<a href="~\Branch/Index"><span>Programs</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#"><span>Programs</span></a>
				</li>
				<li>
					<a href="#"><span>Admissions</span></a>
				</li>
				<li>
					<a href="#"><span>FeeManagement</span></a>
				</li>
				<li>
					<a href="#"><span>Academics</span></a>
				</li>
				<li>
					<a href="#"><span>Reports</span></a>
				</li>
				<li>
					<a href="#"><span>Analysis</span></a>
				</li>
			</ul>
		</div>
		<div class="main-content">
			@RenderBody()
		</div>
		<div class="footer">
			<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-content">
				</div>
			</div>
			<span>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</span>
		</div>
	</div>
</body>
</html>
